.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.order-actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cart-summary {
    border-top: 2px solid #000;
    padding-top: 15px;
    text-align: right;
}

.checkout-btn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 21px;
    cursor: pointer;
}