.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart_item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.item-details {
    flex: 1;
}

.remove-item {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-summary{
    border-top: 2px solid #000;
    padding-top: 15px;
}

.checkout-btn {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}