
.back-to-cart {
  background-color: #0d4508;
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
  color: white;
  font-size: 14px;
}

.back-to-cart:hover {
  background-color: #0056b3;
}
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  .cart-header {
    display: flex;
    justify-content: space-between; /* Space out the button and heading */
    align-items: center; /* Vertically align them */
    margin-bottom: 20px; /* Add some space below */
  }

  
  .outfit-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .outfit-item img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .details {
    flex-grow: 1;
  }
  
  .details h2, .details p {
    color: #0056b3;
    font-size: 16px;
    margin: 0;
    color: #666;
  }
  
  .terms {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  
  .checkout-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button.agree-button {
    padding: 10px 20px;
    background-color: #004544;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.agree-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .checkout-button{
      justify-content: center;
    }

  }
  