.checkout-container {
  font-family: sans-serif;
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.checkout-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.checkout-item img {
  max-width: 230px;
  max-height: 230px;
  object-fit: contain;
  margin-right: 2em;
}

.item-details {
  flex-grow: 1;
}

.item-details h3 {
  margin-top: 0;
}

.item-details p {
  margin: 0.5em 0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}


.navigation-buttons button {
  color: #fff;
  text-decoration: none;
  background-color: #083736;
  padding: 0.75em 1.5em;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #90dad6;
}

/* Back to cart button */
.back-to-cart a{
  background-color: #083736;
  text-decoration: none;
  color: white;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}

.back-to-cart a:hover {
  background-color: #0a4f4c;
}