.sort-container {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 25px;
}

.sort-by, .page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.sort-by label {
  margin-right: 10px;
}

.sort-by select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease;
}

.sort-by select:focus {
  border-color: #333;
  outline: none;
}

.sort-container button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sort-container button:hover {
  background-color: #555;
}

.product-clickable:hover {
  cursor: pointer;
}
