extends default_web_logged-in_layout.pug

block styles
    link(rel="stylesheet", href="/css/admin.css")

block content
  h1.admin-dashboard-heading Admin Tasks
  .admin-container
    if adminTasks.length > 0
      each task in adminTasks
        if task.id == "user"
            a(href=`/`, class="admin-task")
               .task-info
                 h3 #{task.title}
        else
            a(href=`/admin/${task.id}`, class="admin-task") 
               .task-info
                 h3 #{task.title}
    else
      p No tasks available at the moment!
