
block styles
  link(rel="stylesheet", href="/css/redirect.css")

block content
  .redirect-page
    h1 #{msg}
    
    .container
      .confirmation
        img(src='/images/thumbs-up.gif', alt='Confirmation')
      .spinner-container
        if redirectLocation == "home-logged-in"
          h2 Redirecting to Home...
        else
          h2 Redirecting to #{redirectLocation}
        div#secondsdisplay This page will be redirected in 4 seconds ...
        .spinner
          img(src='/images/ZZ5H.gif', alt='Loading...')

block scripts
  script.
    var seconds = 4;  
    var redirectUrl = "#{redirectUrl}"; 

    function displayseconds() { 
      if (seconds > 0) {
        seconds--;
        document.getElementById('secondsdisplay').innerText =
          "This Page Will Be Redirected In " + seconds + " Seconds ...";
      } else {
        document.getElementById('secondsdisplay').innerText = "Redirecting now...";
        redirectpage();  
      }
    }

    setInterval(displayseconds, 1000);  

    function redirectpage() {
      window.location = redirectUrl;  
    }
