extends default_web_logged-out_layout.pug

block styles
    link(rel="stylesheet", href="/css/termsofuse.css")

block content

    .header
        img.logoimage(src="/images/FitXchange_logo_horizontal.png", alt='FitXchange Logo')
        h1 Terms of use and Conditions

    main
      p Effective Date: 03/04/2025

      h2 Introduction
      p Welcome to FitXchange. By accessing our website (the "Site") or using our services, you agree to be bound by these Terms and Conditions ("Terms"). Please read them carefully. If you do not agree to these Terms, you must not use our services.

      h2 1. Privacy and Data Security
      p We are committed to protecting your personal data in accordance with the General Data Protection Regulation (GDPR) Articles 5 and 32. We collect only the information necessary for the provision of our services and take all appropriate security measures to protect your personal data against unauthorized access, alteration, or destruction.

      h2 2. Trust and Accountability
      p In compliance with Section 3 of the Consumer Rights Act 2015 and Article 6 of the GDPR, we implement rigorous verification and review systems to ensure the authenticity of items exchanged and the reliability of transactions. This safeguards against fraudulent activities and enhances user satisfaction.

      h2 3. Fairness and Bias
      p Pursuant to Article 22 of the GDPR and the Equality Act 2010, our AI-driven recommendation and pricing models are designed to treat all users equitably, preventing discrimination and ensuring fairness across all demographics.

      h2 4. Environment and Ethical Responsibility
      p Aligned with the Environmental Protection Act 1990 and the EU Waste Framework Directive, our operations prioritize environmentally friendly practices in shipping and cleaning methods to minimize environmental impact.

      h2 5. Health and Hygiene Risks
      p In accordance with the Consumer Protection Act 1987 and the Health and Safety at Work Act 1974, we ensure that all outfits are thoroughly cleaned and inspected before being sent to the next user to mitigate health risks.

      h2 6. Legal and Liability
      p As stipulated by Section 75 of the Consumer Credit Act 1974 and the Consumer Rights Act 2015, our policies are designed to fairly address and resolve issues related to compensation for any damages incurred by borrowers to rented outfits.

      h2 User Responsibilities
      p By using our Site, you agree to:
      ul
        li Use the website only for its intended purposes.
        li Provide accurate and complete information about yourself and your transactions.
        li Comply with all applicable local, national, and international laws.

      h2 Intellectual Property
      p All content on this Site, including text, graphics, logos, and software, is the property of FitXchange or its content suppliers and is protected by UK and international copyright laws. Additionally, this Site may feature brands and logos owned by third parties. These are the property of their respective owners, and FitXchange does not claim any rights over the intellectual property of these third parties.
      p Users are strictly prohibited from accepting funds in exchange for products that infringe on third-party intellectual property rights. Engaging in such transactions may result in immediate suspension or ban from FitXchange. Furthermore, FitXchange reserves the right to take legal action against individuals who engage in the sale or exchange of counterfeit or unauthorized goods. Liability for any violations of intellectual property rights will be passed to the violating party.

      h2 Modification of Terms
      p We reserve the right to modify these Terms at any time. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms.

      h2 Termination
      p We may terminate or suspend your account and bar access to the Site immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.

      h2 Dispute Resolution
      p To qualify for dispute resolution support or to be subject to any penalty charges under these Terms, users must conduct all transactions fully within the FitXchange platform. Transactions conducted outside of the FitXchange platform are not covered by our support services and are at the user’s own risk.
      p In the event of a dispute, users are encouraged to first contact our customer support team to seek an informal resolution. If the dispute cannot be resolved informally, the dispute will be resolved through final and binding arbitration, unless otherwise specified. The arbitration will be conducted in the jurisdiction where the agreement was entered into, under the arbitration rules of that jurisdiction.
      p All claims arising out of or relating to these terms or the services must be litigated exclusively in the federal or state courts of [Specify Location], and both parties consent to venue and personal jurisdiction there.

      h2 Limitation of Liability
      p FitXchange will not be liable for any indirect, incidental, special, consequential, or punitive damages resulting from the use of or inability to use the service.

      h2 Contact Us
      p If you have any questions about these Terms, please contact us at
        a.supportlink(href="mailto:support@FitXchange.localhost") support@FitXchange.localhost

    footer
      p &copy; 2025 FitXchange. All rights reserved.
